@model ePrzychodnia.Models.lekarz

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Na pewno usunąć tego lekarza?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres.kraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres.kraj)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input type="submit" value="Usuń lekarza" class="btn btn-default" />
        <div class="form-actions no-color">
            @Html.ActionLink("Powrót do spisu lekarzy", "Index")
        </div>
    }
</div>
