@model ePrzychodnia.Models.zapis

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>zapis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.godzina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godzina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lekarz.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lekarz.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pacjent.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pacjent.nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Odwołaj wizytę" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
