@model IEnumerable<ePrzychodnia.Models.zapis>

@{
    ViewBag.Title = "Zapis";
}

<h2>Terminy wizyt</h2>

<p>
    @Html.ActionLink("Zapisz się", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.godzina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lekarz.nazwisko)
        </th>
    </tr>
@if (User.IsInRole("Pacjent"))
{
    foreach (var item in Model)
    {
        if (item.id_pacjenta == ViewBag.data)
        {
            var data=item.data.ToString().Substring(0,10);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godzina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lekarz.nazwisko)
        </td>
        <td>
            @Html.ActionLink("Odwołaj wizytę", "Delete", new { id = item.id_zapisu })
        </td>

    </tr>
        }
    }
}

</table>
