@model IEnumerable<ePrzychodnia.Models.skierowanie>

@{
    ViewBag.Title = "Skierowanie";
}

<h2>Wystawione skierowania</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_pacjent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_badanie)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.data_wystawienia)
        </th>
        <th></th>
    </tr>

@if (User.IsInRole("Lekarz"))
{
    foreach (var item in Model)
    {
        if (item.id_lekarz == ViewBag.data)
        {
            var data = item.data_wystawienia.ToString().Substring(0, 10);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_pacjent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_badanie)
        </td>

        <td>
            @Html.DisplayFor(modelItem => data)
        </td>
    </tr>
        }
    }
}

</table>
