@model ePrzychodnia.Models.KompleksowaWizyta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KompleksowaWizyta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_skierowanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_skierowanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_recepta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_recepta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_choroba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_choroba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_badanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_badanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_lekarz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_lekarz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_pacjent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_pacjent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_wizyty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_wizyty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_wystawienia_skierowanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_wystawienia_skierowanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_badania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_badania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_wystawienia_recepta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_wystawienia_recepta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis_badania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis_badania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lek_i_dawkowanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lek_i_dawkowanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwa_choroby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa_choroby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objawy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objawy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnoza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnoza)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
