@model IEnumerable<ePrzychodnia.Models.KompleksowaWizyta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_skierowanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_recepta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_choroba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_badanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_lekarz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_pacjent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wizyty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wystawienia_skierowanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_badania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wystawienia_recepta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis_badania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lek_i_dawkowanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwa_choroby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objawy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnoza)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_skierowanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_recepta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_choroba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_badanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_lekarz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_pacjent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wizyty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wystawienia_skierowanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_badania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wystawienia_recepta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis_badania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lek_i_dawkowanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa_choroby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objawy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnoza)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_wizyta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_wizyta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_wizyta })
        </td>
    </tr>
}

</table>
