@model IEnumerable<ePrzychodnia.Models.wizyta>

@{
    ViewBag.Title = "Index";
}

<h2>Przeprowadzone wizyty</h2>
<p>
    @Html.ActionLink("Dodaj wizytę", "Create", "KompleksowaWizyta")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.id_pacjent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wizyty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badanie.opis_badania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.choroba.nazwa_choroby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recepta.lek_i_dawkowanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skierowanie.id_skierowanie)
        </th>
        <th></th>
    </tr>
@if (User.IsInRole("Lekarz"))
{
    foreach (var item in Model)
    {
        if (item.id_lekarz == ViewBag.data)
        {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.id_pacjent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wizyty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badanie.opis_badania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.choroba.nazwa_choroby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepta.lek_i_dawkowanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skierowanie.id_skierowanie)
        </td>
      
    </tr>
        }
    }

}

</table>
