@model ePrzychodnia.Models.badanie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>badanie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.opis_badania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis_badania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_badania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_badania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lekarz.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lekarz.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pacjent.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pacjent.nazwisko)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_badanie }) |
    @Html.ActionLink("Back to List", "Index")
</p>
