@model IEnumerable<ePrzychodnia.Models.badanie>

@{
    ViewBag.Title = "Badania";
}

<h2>Przeprowadzone badania</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.opis_badania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_badania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pacjent.nazwisko)
        </th>
        <th></th>
    </tr>
@if (User.IsInRole("Lekarz"))
{
    foreach (var item in Model)
    {
        if (item.id_lekarz == ViewBag.data)
        {
            var data = item.data_badania.ToString().Substring(0, 10);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.opis_badania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => data)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.pacjent.nazwisko)
        </td>
    </tr>
        }
    }
}

</table>
