@model IEnumerable<ePrzychodnia.Models.recepta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lek_i_dawkowanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wystawienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lekarz.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pacjent.nazwisko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lek_i_dawkowanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wystawienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lekarz.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pacjent.nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_recepta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_recepta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_recepta })
        </td>
    </tr>
}

</table>
