@model IEnumerable<ePrzychodnia.Models.recepta>

@{
    ViewBag.Title = "Recepta";
}

<h2>Wystawione recepty</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lek_i_dawkowanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_wystawienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pacjent.nazwisko)
        </th>
        <th></th>
    </tr>

@if (User.IsInRole("Lekarz"))
{
    foreach (var item in Model)
    {
        if (item.id_lekarz == ViewBag.data)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lek_i_dawkowanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_wystawienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pacjent.nazwisko)
        </td>
    </tr>
        }
    }
}

</table>
