@model ePrzychodnia.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj kontem";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień dane swojego konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
            @Html.ActionLink("Zmień obecne hasło", "ChangePassword")
            }
            else
            {
            @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Uzupełnij swoje dane:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
            @Html.ActionLink("Dane ", "Dane")
            }
            else
            {
            @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
