@model ePrzychodnia.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj kontem";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień dane swojego konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
            @Html.ActionLink("Zmień obecne hasło", "ChangePassword")
            }
            else
            {
            @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
           
        @if (Model.getUserRole == "Pacjent")
        {
            <dt>Uzupełnij swoje dane:</dt>
            <dd> 
            [
            @Html.ActionLink("Uzupełnij dane", "PacjentForm")
            ]
            </dd>
        }
        @if (Model.getUserRole == "Admin")
        {
            <dt>Uzupełnij swoje dane:</dt>
            <dd>
                [
                @Html.ActionLink("Zarządzaj lekarzami oraz ich danymi", "Index", "lekarz")
                ]
            </dd>
        }
    </dl>
</div>
