@model IEnumerable<ePrzychodnia.Models.choroba_view>

@{
    ViewBag.Title = "Index";
}

<h2>Przebyte choroby</h2>

<table class="table">
    <tr>      
        <th>
            @Html.DisplayNameFor(model => model.nazwa_choroby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnoza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objawy)
        </th>
    </tr>
    
@if (User.IsInRole("Pacjent"))
{
    foreach (var item in Model)
    {
        if (item.id_uzytkownika == ViewBag.data)
        {
            <tr>  
                
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa_choroby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diagnoza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objawy)
                </td>
            </tr>
        }
    }
}

</table>
