@model ePrzychodnia.Models.godziny_przyjec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>godziny_przyjec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dzien_tygodnia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dzien_tygodnia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.godz_od)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godz_od)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.godz_do)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.godz_do)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lekarz.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lekarz.nazwisko)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_godziny_przyjec }) |
    @Html.ActionLink("Back to List", "Index")
</p>
