@model IEnumerable<ePrzychodnia.Models.godziny_przyjec>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dzien_tygodnia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.godz_od)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.godz_do)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lekarz.nazwisko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dzien_tygodnia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godz_od)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.godz_do)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lekarz.nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_godziny_przyjec }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_godziny_przyjec }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_godziny_przyjec })
        </td>
    </tr>
}

</table>
