@model IEnumerable<ePrzychodnia.Models.pacjent>

@{
    ViewBag.Title = "Index";
}

<h2>Zarządzanie pacjentami i danymi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wiek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wiek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_pacjent }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_pacjent }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_pacjent })
        </td>
    </tr>
}

</table>
